/**
 * Link pod
 *
 * [1]	Default link pod styling
 * [2]	Narrow pods
 * [3]	Wide pods
 */





/**
 * [1]	Default link pod styling
 */

.link-pod {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}





/**
 * [2]	Narrow pods
 */

.link-pod--narrow {
	padding: $mangui-vertical-rhythm;
	margin-top: $mangui-vertical-rhythm;


	.link-pod__heading {
		margin-top: 0;
		margin-bottom: 0;
	}


	.link-pod__content {
		margin-bottom: 1.5em;
		@include rempx(font-size, 14px);
	}
}





/**
 * [3]	Wide pods
 */

.link-pod--wide {
	@include rempx(padding, $mangui-vertical-rhythm $mangui-vertical-rhythm*2);


	.link-pod__heading {
		margin-top: 0;
		margin-bottom: 0;
	}


	.link-pod__content {
		margin-bottom: 1.5em;
		@include rempx(font-size, 15px);
		@include rempx(max-width, 650px);
	}
}





/**
 * [4]	Portfolio pods
 */

.link-pod--portfolio {
	border-bottom: 8px solid;
}





/**
 * [5]	Link pod colours
 */

@each $brand in $link-pod-brands {
	$brand-name: nth($brand, 1);
	$colour: 	 nth($brand, 2);


	.link-pod--#{$brand-name} {
		border-bottom-color: $colour;


		.link-pod__heading__link,
		.link-pod__button {
			color: $colour;


			&:hover {
				color: shade($colour, 60%);
			}
		}
	}
}