/**
 * Component: Panel
 *
 * [1]	Default panels
 * [2]	Hire me panel
 * [3]	Portfolio panel
 * [4]	Contact panel
 * [5]	Copyright panel
 */





/**
 * [1]	Default panels
 */

.panel {
	@include rempx(padding, $mangui-vertical-rhythm*2.5 0);


	&--primary {
		background: $grey--darker;
	}


	&--secondary {
		background: $grey--lighter;
	}


	&--tertiary {
		background: #FFF;
	}


	&--copyright {
		background: shade($grey--darker, 45%);
		border-top: 5px solid shade($grey--darker, 60%);
	}


	&--no-padding {
		padding: 0;
	}
}


	.panel__heading {
		position: relative;
		text-align: center;
		@include rempx(margin-top, -6px);
		@include rempx(margin-bottom, $mangui-vertical-rhythm*2);
		@include rempx(padding-bottom, $mangui-vertical-rhythm);


		&::before {
			content: '';
			position: absolute;
			opacity: 0.3;
			border-top: 5px solid;
			bottom: 0;
			left: 50%;
			@include rempx(width, 50px);
			@include rempx(margin-left, -25px);
		}
	}





/**
 * [2]	Hire me panel
 */

.panel--hire-me {
	color: $grey--lighter;
}


	.hire-me__heading {
		color: $blue--lighter;
		@include rempx(margin-top, -6px);
	}


	.hire-me__text {
		margin-bottom: 0;
		@include rempx(max-width, 530px);
	}


	.hire-me__button {
		@include rempx(margin-top, 7px);
		@include rempx(margin-left, -3px);
	}





/**
 * [3]	Portfolio panel
 */

.panel--portfolio {

}





/**
 * [4]	Contact panel
 */

.panel--contact {

}


	.contact__heading {
		color: $blue--lighter;
		@include rempx(margin-top, 11px);
	}


	.contact__details {

	}


		.details__title {
			color: $grey--light;
			font-weight: 300;
			font-style: italic;
			letter-spacing: 1px;
		}


		.details__content {
			color: #FFF;
			margin-left: 0;


			&--phone {
				font-weight: 300;
				margin-bottom: 1em;
				@include rempx(font-size, 28px);
			}


			&--email {
				font-weight: 300;
				@include rempx(font-size, 22px);


				a {
					color: #FFF;
					border-bottom: 1px dotted;
					display: inline-block;
					@include rempx(padding, 5px 0);


					&:hover {
						background: rgba(255,255,255,0.1);
					}
				}
			}


			&--address {
				line-height: 1.5;
				@include rempx(font-size, 15px);
			}
		}





/**
 * [5]	Copyright panel
 */

.panel--copyright {
	@include rempx(padding-top, $mangui-vertical-rhythm);
	@include rempx(padding-bottom, $mangui-vertical-rhythm);
}


	.nav--footer {
		margin-left: -1em;
	}


		.nav__link--footer {
			padding-top: 0;
			padding-bottom: 0;
			color: $grey--medium;
			@include rempx(font-size, 14px);


			&:hover {
				color: $grey--lighter;
			}
		}


	.copyright__content {
		margin-top: 0;
		margin-bottom: 0;
		color: $grey--medium;
		text-align: right;
		@include rempx(font-size, 14px);
	}