/**
 * Portfolio header styles
 */

.o-header--portfolio--gardbus {
	background: $colour--brand-gardbus;


	.c-portfolio-header__gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#149b33+0,008237+65 */
		background: #149b33; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #149b33 0%, #008237 65%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #149b33 0%,#008237 65%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #149b33 0%,#008237 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#149b33', endColorstr='#008237',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}