/**
 * Portfolio header styles
 */

.o-header--portfolio--jeakins {
	background: $colour--brand-jeakins;


	.c-portfolio-header__gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053854+0,03273b+65 */
		background: #053854; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #053854 0%, #03273b 65%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #053854 0%,#03273b 65%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #053854 0%,#03273b 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053854', endColorstr='#03273b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}