/**
 * What we do nav component
 */


/**
 * Animations
 */

@include mangui-keyframes(animation--our-services-icon--design-brush) {
	  0% { @include mangui-transform(translate(   0px,    0px)); }
	 13% { @include mangui-transform(translate( 140px, -140px)); }
	 35% { @include mangui-transform(translate(-140px,  140px)); }
	 50% { @include mangui-transform(translate(   0px,    0px)); }
	 80% { @include mangui-transform(translate(   0px,    0px)); }
	100% { @include mangui-transform(translate(   0px,    0px)); }
}

@include mangui-keyframes(animation--our-services-icon--design-shade) {
	  0% { @include mangui-transform(translate( 140px, -140px) rotate(-45deg)); opacity: 0; }
	 13% { @include mangui-transform(translate( 140px, -140px) rotate(-45deg)); opacity: 1; }
	 35% { @include mangui-transform(translate(-140px,  140px) rotate(-45deg)); opacity: 1; }
	 70% { @include mangui-transform(translate(-140px,  140px) rotate(-45deg)); opacity: 1; }
	 80% { @include mangui-transform(translate(-140px,  140px) rotate(-45deg)); opacity: 0; }
	100% { @include mangui-transform(translate(-140px,  140px) rotate(-45deg)); opacity: 0; }
}

@include mangui-keyframes(animation--our-services-icon--development-reveal-char) {
	  0% { opacity: 0; clip: rect(1px, 1px, 1px, 1px); }
	 20% { opacity: 1; clip: rect(70px, 70px, 70px, 70px); }
	 60% { opacity: 1; clip: rect(70px, 70px, 70px, 70px); }
	100% { opacity: 0; clip: rect(1px, 1px, 1px, 1px); }
}





/**
 * Navigation elements
 */

.o-nav--our-services {
	.o-nav__list {
		@include rempx(margin-left, -20px);
	}


		.o-nav__item {
			
			/**
			 * Design icon
			 */
			
			&.o-nav__item--design {
				&:hover {
					.c-our-services__icon-svg  { @include mangui-animation-play-state(running); }
					.u-brush-animation-element { @include mangui-animation-play-state(running); }
				}


				.c-our-services__icon-svg {
					z-index: 103;
					position: relative;
					fill: $blue--darker;
					@include mangui-animation(animation--our-services-icon--design-brush 6s ease-out infinite);
					@include mangui-animation-play-state(paused);
				}


				.u-brush-animation-element {
					opacity: 0;
					top: -164px;
					z-index: 102;
					width: 300px;
					height: 300px;
					right: -150px;
					position: absolute;
					background: $blue--lighter;
					@include mangui-transform(rotate(-45deg));
					@include mangui-animation(animation--our-services-icon--design-shade 6s ease-out infinite);
					@include mangui-animation-play-state(paused);
				}
			}





			/**
			 * Development icon
			 */
			
			&.o-nav__item--development {
				&:hover {
					.u-development-text--first  { opacity: 0; }
					.u-development-text--second { opacity: 1; }
					.u-development-text__char--reveal { @include mangui-animation-play-state(running); }
				}


				.u-development-text {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: 0; // Reset defaults
					overflow: visible; // Reset defaults
					font-weight: bold;
					position: absolute; // Prevent stacking
					text-align: center;
					letter-spacing: -0.07em;
					@include rempx(font-size, 70px);
					@include rempx(line-height, 200px);
					@include mangui-transition(ease-in-out 350ms all);


					&--first {
						opacity: 1;
						@include mangui-transition(ease-in-out 350ms all);
					}


					&--second {
						opacity: 0;
						@include mangui-transition(ease-in-out 350ms all);
					}
				}


					.u-development-text__char {

					}


						.u-development-text__char--reveal {
							opacity: 0;
							@include mangui-animation(animation--our-services-icon--development-reveal-char 5s ease-out infinite);
							@include mangui-animation-play-state(paused);


							@for $i from 0 through 30 {
								&:nth-of-type(#{$i}) {
									@include mangui-animation-delay(350ms + ($i * 75ms));
								}
							}
						}
			}
		}





			.o-nav__link {
				@include rempx(padding, 20px);


				&:hover {
					.c-our-services__icon-wrap {
						border-color: $blue--dark;
						box-shadow: 0 4px 10px rgba(0,0,0,0.2);
					}
				}
			}
}





	$size--our-services-icon: 200px;

	.c-our-services__icon-wrap {
		background: #FFF;
		border: 1px solid $blue--light;
		box-shadow: 0 4px 10px rgba(0,0,0,0);
		border-radius: $size--our-services-icon;
		@include rempx(margin-bottom, 40px);
		@include rempx(width, $size--our-services-icon);
		@include rempx(height, $size--our-services-icon);
		@include mangui-transition(ease-in-out 350ms all);
	}


		.c-our-services__icon {
			overflow: hidden;
			position: relative;
			border-radius: $size--our-services-icon;
			-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // Fix chrome and opera bug whereby overflow:hidden not working with animation!
			@include rempx(width, $size--our-services-icon - 2);
			@include rempx(height, $size--our-services-icon - 2);
			@include mangui-transition(ease-in-out 350ms all);
		}





	.c-our-services__text {
		display: block;
		font-weight: bold;
		text-align: center;
		@include mangui-font-campton($font-size: 22px);
	}