/**
 * What we do navigation elements
 *
 * Note: This is not the sidebar navigation!
 */

/**
 * Panel
 */

.o-panel--services-we-offer {
	background: #FFF;
	border-top: 5px solid rgba(0,0,0,.07);
}





/**
 * Articles
 */

.c-our-service {
	.c-our-services__title {
		text-align: center;
	}


	.c-our-service__link {
		display: block;
		border-bottom: 3px solid transparent;
		@include mangui-transition(ease-in-out 550ms all);


		&:hover {
			border-bottom-color: $blue--light;
		}
	}
}


	


	/**
	 * Individual graphics:
	 *
	 * [1]	Consultancy
	 * [2]	Design
	 * [3]	Development
	 */
	
	/**
	 * [1]	Consultancy
	 */
	
	@include mangui-keyframes(u-consultancy-graphic__group) {
		  0% { @include mangui-transform(scale(1)); }
		  7% { @include mangui-transform(scale(1.1)); }
		 10% { @include mangui-transform(scale(1)); }
		100% { @include mangui-transform(scale(1)); }
	}
	
	@include mangui-keyframes(u-consultancy-graphic__circles) {
		  0% { opacity: 0.7; @include mangui-transform(scale(0.8));	}
		  5% { opacity:   1; @include mangui-transform(scale(1));	}
		 10% { opacity: 0.7; @include mangui-transform(scale(0.8));	}
		 25% { opacity: 0.7; @include mangui-transform(scale(0.8));	}
		 30% { opacity:   1; @include mangui-transform(scale(1));	}
		 35% { opacity: 0.7; @include mangui-transform(scale(0.8));	}
		100% { opacity: 0.7; @include mangui-transform(scale(0.8));	}
	}
	
	.c-our-service {
		&.c-our-service--consultancy {
			.c-our-services__graphic {
				width: 100%;
				text-align: center;
				background: $grey--lighter;
				border: 1px solid $grey--light;
				box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0);
				@include rempx(height, 200px);
				@include mangui-transition(ease-in-out 550ms all);
			}


				.u-consultancy-graphic__group {
					@include mangui-transform-origin(50% 50%);
					@include mangui-animation(u-consultancy-graphic__group 6s ease-in-out infinite);


					.u-consultancy-graphic__circle {
						opacity: 0.7;
						@include mangui-transform(scale(0.8));
						@include mangui-transform-origin(50% 50%);
						@include mangui-animation(u-consultancy-graphic__circles 6s ease-in-out infinite);						
					}
				}

				.u-consultancy-graphic__group:nth-of-type(1) {
					@include mangui-animation-delay(0s);

					.u-consultancy-graphic__circle:nth-of-type(1) { @include mangui-animation-delay(500ms); }
					.u-consultancy-graphic__circle:nth-of-type(2) { @include mangui-animation-delay(625ms); }
					.u-consultancy-graphic__circle:nth-of-type(3) { @include mangui-animation-delay(750ms); }
				}
				
				.u-consultancy-graphic__group:nth-of-type(2) {
					@include mangui-animation-delay(3s);

					.u-consultancy-graphic__circle:nth-of-type(1) { @include mangui-animation-delay(3500ms); }
					.u-consultancy-graphic__circle:nth-of-type(2) { @include mangui-animation-delay(3625ms); }
					.u-consultancy-graphic__circle:nth-of-type(3) { @include mangui-animation-delay(3750ms); }
				}





			/**
			 * Hover effects
			 */
			
			.c-our-service__link {
				&:hover {
					.c-our-services__graphic {
						box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0.6);
						@include mangui-transform(translateY(-5px));
					}
				}
			}
		}
	}





	/**
	 * [2]	Design
	 */
	
	@include mangui-keyframes(u-design-graphic__stroke) {
		  0% { stroke-dashoffset: 340; opacity: 0; }
		 20% { stroke-dashoffset: 0;   opacity: 1; }
		 80% { stroke-dashoffset: 0;   opacity: 1; }
		 90% { stroke-dashoffset: 0;   opacity: 0; }
		100% { stroke-dashoffset: 0;   opacity: 0; }
	}
	
	@include mangui-keyframes(u-design-graphic__solid) {
		  0% { fill: transparent; }
		 20% { fill: transparent; }
		 25% { fill: #007A93; }
		 77% { fill: #007A93; }
		 80% { fill: transparent; }
		100% { fill: transparent; }
	}
	
	@include mangui-keyframes(u-design-graphic__m) {
		  0% { fill: transparent; }
		 30% { fill: transparent; }
		 35% { fill: #FFFFFF; }
		 73% { fill: #FFFFFF; }
		 77% { fill: transparent; }
		100% { fill: transparent; }
	}
	
	.c-our-service {
		&.c-our-service--design {
			.c-our-services__graphic {
				width: 100%;
				text-align: center;
				background: $grey--lighter;
				border: 1px solid $grey--light;
				box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0);
				@include rempx(height, 200px);
				@include mangui-transition(ease-in-out 550ms all);
			}


				.u-design-graphic__stroke {
					stroke-dashoffset: 340;
					stroke-dasharray: 340;
					@include mangui-animation(u-design-graphic__stroke 10s linear infinite);
				}

				.u-design-graphic__solid {
					@include mangui-animation(u-design-graphic__solid 10s linear infinite);
				}

				.u-design-graphic__m {
					@include mangui-animation(u-design-graphic__m 10s linear infinite);
				}





			/**
			 * Hover effects
			 */
			
			.c-our-service__link {
				&:hover {
					.c-our-services__graphic {
						box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0.6);
						@include mangui-transform(translateY(-5px));
					}
				}
			}
		}
	}





	/**
	 * [2]	Design
	 */
	
	@include mangui-keyframes(u-development-graphic__reveal) { // 20 seconds: 5% = 1s
		  0% { opacity: 0; }
		  2% { opacity: 1; } //   .4 sec
		 80% { opacity: 1; } // 16.0 sec
		 82% { opacity: 0; } // 16.4 sec
		100% { opacity: 0; } // 20.0 sec
	}
	
	.c-our-service {
		&.c-our-service--development {
			.c-our-services__graphic {
				width: 100%;
				background: #263238;
				text-align: center;
				border: 1px solid #000;
				border-left: 5px solid #11191c;
				box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0);
				@include rempx(height, 200px);
				@include mangui-transition(ease-in-out 550ms all);
			}


				.u-development-graphic {
					margin: 0;
					color: #FFF;
					text-align: left;
					line-height: 1.4;
					@include rempx(padding, 35px 0);
					@include rempx(font-size, 18px);
					@include rempx(padding-left, 40px);
				}

					.u-development-graphic__static {
						color: $green;
						position: absolute;
						@include rempx(margin-left, -33px);
					}


					.u-development-graphic__reveal {
						opacity: 0;
						@include mangui-animation(u-development-graphic__reveal 20s linear infinite);


						@for $i from 0 through 80 {
							&:nth-of-type(#{$i}) {
								@include mangui-animation-delay(250ms + ($i * 50ms));
							}
						}


						&.u-development-graphic__reveal--blue   { color: #87a4d6; }
						&.u-development-graphic__reveal--white  { color: #cdd3dd; }
						&.u-development-graphic__reveal--orange { color: #ee756a; }
					}





			/**
			 * Hover effects
			 */
			
			.c-our-service__link {
				&:hover {
					.c-our-services__graphic {
						box-shadow: 0 24px 30px -30px rgba(0, 0, 0, 0.6);
						@include mangui-transform(translateY(-5px));
					}
				}
			}
		}
	}