/**
 * Nav list styling (<ul>)
 *
 * [a]	Reset margins and padding to avoid affecting grid
 */

.o-nav__list {
	margin: 0; // [a]
	padding: 0; // [a]
}





	/**
	 * List item styling
	 * 
	 * [a]	Set to relative so the absolute `.nav__sub` child behaves correctly
	 * [b]	Remove bullets from the nav
	 */
	
	.o-nav__item {
		position: relative; // [a]
		display: block; // [b]
	}





		/**
		 * Default nav item styling
		 *
		 * [a]	Make the entire link clickable, it's better for usability
		 * [b]	Give the links some padding, using em's bases padding on font-size
		 */

		.o-nav__link {
			display: block; // [b]
			padding: 0.5em 1em; // [a]
		}





		/**
		 * Sub navigations
		 *
		 * [a]	Stop the sub navs from affecting layout
		 * [b]	Throw the dropdowns off screen
		 * [c]	Add some padding to the top and bottom
		 * [d]	Fade in the dropdowns, but delay the left transition to make
		 * 		sure the dropdowns fade out too
		 * [e]	Fill the entire width of the dropdown
		 */
		
		.o-nav__list--sub {
			position: absolute; // [a]
			opacity: 0;
			@include rempx(left, -2000px); // [b]
			@include rempx(padding, ($mangui-vertical-rhythm/3)*2 0); // [c]
			@include mangui-transition(ease-in-out 350ms opacity, ease-in-out 1ms 350ms left); // [d]


			.o-nav__item {
				width: 100%; // [e]
			}
		}


	/**
	 * On hover and focus, reveal the dropdowns
	 *
	 * [a]	Align the dropdowns to the right position
	 * [b]	Fade them in...
	 * [c]	...smoothly
	 */

	.o-nav__item--has-sub {
		&:hover,
		&:focus {
			.o-nav__list--sub {
				left: 0; // [a]
				opacity: 1; // [b]
				@include mangui-transition(ease-in-out 350ms opacity); // [c]
			}
		}
	}
		










/**
 * Horizontal row navigation
 *
 * [a]	Get the nav items to align without floating, allowing
 * 		for greater control over vertical-align
 * [b]	Reset the above to get text working correctly
 * [c]	The same for [a] but fixes Opera bug
 * [d]	The same for [b] but fixes Opera bug
 * [e]	Get the nav items in a row, without floating
 */

.o-nav--row {
	letter-spacing: -0.31em; // [a]


	.o-nav__item {
		letter-spacing: normal; // [b]
		word-spacing: normal; // [d]
		display: inline-block; // [e]
	}
}


.opera:-o-prefocus,
.grid {
	word-spacing: -0.43em; // [c]
}





/**
 * nav--big signifies a more important navigation
 *
 * [a]	Make the font size bigger
 */

.o-nav--big {
	.o-nav__link {
		padding: 0.5em 1.4em;
		@include rempx(font-size, 20px);
	}


	.o-nav__list--sub {
		.o-nav__link {
			padding: 0.5em 1em;
			@include rempx(font-size, 16px);
		}
	}
}





/**
 * Full width navigation with `.nav__item`s filling entire
 * available space
 *
 * [a]	As flexbox isn't fully supported, we're using `display: table`
 * 		and `display: table-cell`
 * [b]	Get the nav to go full width
 * [c]	Align the text to the centre
 */

.o-nav__list--full {
	display: table; // [a]
	width: 100%; // [b]


	.o-nav__item--full {
		display: table-cell; // [a]
		text-align: center; // [b]
	}
}