/**
 * [1]	Containers:
 *
 * 		[a]	Default container
 * 		[b]	Padded container
 * 		[c]	Containers with different widths
 * 		[d]	Container alignments
 */





	/**
	 * [a]	Default container:
	 *
	 * 		[i]	  Full width, up to a limit
	 * 		[ii]  Centre align the container
	 */
	
	.o-container,
	%o-container {
		width: 100%; // [i]
		margin-left: auto; // [ii]
		margin-right: auto; // [ii]
		max-width: $mangui-max-width; // [i]
	}





	/**
	 * [b]	Padded container:
	 *
	 * 		[i]   Give the containers some padding, based on theme $var
	 */
	
	.o-container--padded {
		@include rempx(padding-left, $mangui-vertical-rhythm); // [i]
		@include rempx(padding-right, $mangui-vertical-rhythm); // [i]
	}





	/**
	 * [c]	Different width containers:
	 *
	 * 		[i]   Very narrow container
	 * 		[ii]  Container optimised for readability
	 */
	
	.o-container--narrow {
		@include rempx(max-width, 500px); // [i]
	}


	.o-container--optimise-readability {
		@include rempx(max-width, 700px); // [ii]
	}





	/**
	 * [d]	Container alignments:
	 *
	 * 		[i]   Left aligned container
	 * 		[ii]  Right aligned container
	 */
	
	.o-container--align-left {
		margin-left: 0; // [i]
	}


	.o-container--align-right {
		margin-right: 0; // [ii]
	}