/**
 * Button object
 *
 * [1]	Core button object
 * [2]	Variants
 */


	 /**
	  * [1]	Core button object
	  */
	 

	 .o-button {
	 	border: 0;
	 	margin: 0;
	 	padding: 0;
	 	outline: 0;
	 	background: none;
	 	display: inline-block;
	 	@include mangui-transition(ease-in-out 350ms color, ease-in-out 350ms background);
	 }


		.o-button__icon--left {
			@include rempx(margin-right, $mangui-vertical-rhythm/2);
		}


		.o-button__icon--right {
			@include rempx(margin-left, $mangui-vertical-rhythm/2);
		}





	 /**
	  * [2]	Variants
	  *
	  * 	[a]	Button that just contains an icon
	  */
	 

		 /**
		  * [a]	Button that just contains an icon
		  */
		 

		.o-button--just-icon {
			.o-icon {
				float: left;
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		

		.o-button--primary {
			color: #FFF;
			border-radius: 3px;
			background: $blue--light;
			@include rempx(padding, 14px 25px 12px);


			&:hover {
				background: $blue--darker;
			}


			.o-button__icon--right {
				float: right;
				border: 1px solid;
				border-radius: 20px;
				@include rempx(width, 30px);
				@include rempx(height, 30px);
				@include rempx(padding, 8px);
				@include rempx(margin-top, -3px);
				@include rempx(margin-left, 20px);
			}





			/**
			 * Variants
			 */
			

			&.o-button--positive {
				background: $green;


				&:hover {
					background: shade($green, 20%);
				}
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		

		.o-button--secondary {
			color: $blue--light;


			&:hover {
				color: $blue--darker;
			}


			.o-button__icon--right {
				border: 1px solid;
				border-radius: 20px;
				float: right;
				@include rempx(width, 30px);
				@include rempx(height, 30px);
				@include rempx(padding, 8px);
				@include rempx(margin-top, -3px);
			}
		}