h1 {
	color: $blue--light;
	font-family: $font-headings;
	@include rempx(font-size, 32px);
}

h2 {
	color: $blue--medium;
	font-family: $font-headings;
	@include rempx(font-size, 26px);
}

h3 {
	color: $blue--light;
	font-family: $font-headings;
	@include rempx(font-size, 24px);
}

h4 {
	color: $blue--light;
	font-family: $font-headings;
	@include rempx(font-size, 18px);
}

h5 {
	color: $blue--medium;
	@include rempx(font-size, 16px);
}

h6 {
	color: $blue--dark;
	@include rempx(font-size, 16px);
}
