/**
 * [3]	Hide content in an accessible way:
 * 		
 * 		To be used to hide strings of text in a
 * 		way that screen readers and search engines
 * 		can still access the content.
 *
 * 		@link https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */

.u-hide,
%u-hide,
.u-invisible,
%u-invisible {
	padding: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}