/**
 * Fonts
 */

$font-core: Roboto, Arial, Helvetica, sans-serif;
$font-campton: Campton-Web, $font-core;
$font-headings: Campton-Web, $font-core;


@font-face {
	font-family: 'Campton-Web';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/campton/semibold.woff) format('woff');
}