/**
 * Contact panel in the footer
 */

.o-panel--testimonial {
	background: $blue--light;





		/**
		 * Icon
		 */
		

		.o-blog__icon--testimonial {
			color: $blue--light;
		}





		/**
		 * Date
		 */
		

		.o-date__time {
		    border: 3px solid $blue--lighter;
		}


			.o-date__day,
			.o-date__month,
			.o-date__year {
			    color: $blue--lighter;
			}
}





		/**
		 * Blockquote styling
		 */


		.o-testimonial {
			font-weight: 300;
			color: tint($blue--lighter, 40%);
			@include rempx(font-size, 20px);


			@include mangui-breakpoint(portable) {
				@include rempx(margin-left, 20px);
				@include rempx(margin-right, 20px);
			}


			p {
				&:before {
					@include rempx(padding-right, 4px);
				}


				&:last-child {
					color: #FFF;
				}
			}
		}