/**
 * Contact panel in the footer
 */

.o-panel--hire-me {
	background: $blue--darker;
}


	.c-hire-me__content {
		padding: 1em 0;


		@include mangui-breakpoint(portable) {
			text-align: center;
			@include rempx(padding-left, 24px);
		}
	}


		.c-hire-me__heading {
			margin: 0;
			color: #FFF;
		}


		.c-hire-me__text {
			color: $blue--lighter;
			@include rempx(margin, 20px 0 0);
			@include rempx(max-width, 500px);
		}


	.c-hire-me__call-to-action {	
		@include mangui-breakpoint(portable) {
			text-align: center;
			@include rempx(padding-top, 24px);
			@include rempx(padding-left, 24px);


			.c-hire-me__button {
				float: none;
			}
		}
	}


		.c-hire-me__button {
			color: #FFF;
			float: right;
			background: $green;
			border-radius: 4px;
			@include rempx(font-size, 20px);
			@include rempx(padding, 20px 40px);
			-webkit-backface-visibility: hidden;


			&:hover {
				color: #FFF;
				background: shade($green, 15%);

				.o-button__icon--right {
					@include mangui-transform(translateX(8px));
				}
			}


			.o-button__icon--right {
				@include rempx(margin-left, 15px);
				@include rempx(margin-bottom, -2px);
				@include mangui-transition(ease-in-out 350ms all);
			}
		}