/**
 * Title panel
 */

.o-panel--title {
	position: relative;
	background: $blue--darker;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	@include rempx(padding-top, 72px);


	.c-page-title {
		color: #FFF;
		line-height: 1.2;
		@include rempx(font-size, 40px);
		@include rempx(padding-top, 24px);
		@include rempx(margin-bottom, 24px);
	}





	/**
	 * Breadcrumbs
	 */
	

	.c-breadcrumbs {
		color: $blue--light;


		.o-nav__list {

		}

			.o-nav__item {
				position: relative;
				padding-right: 2em;


				&:not(.o-nav__item--no-link) {
					&::after {
						color: #FFF;
						content: '\002022';
						position: absolute;
						@include rempx(top, 1px);
						@include rempx(right, 13px);
					}
				}


				&.o-nav__item--categories {
					a {
						padding: 0;
						color: $blue--lighter;


						&:hover {
							color: #FFF;
						}
					}
				}

			}


				.o-nav__link {
					padding: 0;
					color: $blue--lighter;


					&:hover {
						color: #FFF;
					}
				}
	}
}