/**
 * Social media navigation
 */


.o-nav--social {
	.o-nav__list {
		@include rempx(margin-top, 103px);
		@include rempx(margin-left, -20px);


		@include mangui-breakpoint(portable) {
			@include rempx(margin-top, 20px);
			@include rempx(margin-bottom, 50px);
		}


		@include mangui-breakpoint(palm) {
			@include rempx(width, 280px);
		}
	}


			.o-nav__link {
				background: transparent;
				@include rempx(width, 75px);
				@include rempx(height, 75px);
				@include rempx(border-radius, 100px);


				&:hover {
					background: $blue--lighter;
				}


				.o-social-icon {
					@include rempx(margin-left, -8px);
				}
			}
}