/**
 * Contact panel in the footer
 */

.o-panel--contact {
	background: $blue--medium;
}


	.c-panel__heading--contact {
		margin-top: 0;
		color: $blue--lighter;
	}


	.c-contact__details {
		margin-top: 0;
	}


		.c-details__title {
			color: $blue--lighter;
			@include rempx(margin-top, 10px);
		}


		.c-details__content {
			color: #FFF;
			margin-left: 0;
			font-weight: 300;
			@include rempx(font-size, 30px);
			@include mangui-breakpoint("max-width: 380px") { @include rempx(font-size, 20px); }


			a {
				display: block;
				color: #FFF;


				&:hover {
					color: $blue--lighter;
				}
			}
		}


		.c-details__content--phone { @include rempx(margin-bottom, 50px); }
		.c-details__content--email { @include mangui-breakpoint(palm) { @include rempx(margin-bottom, 50px); }}


		.c-details__content--address {
			color: #FFF;
			margin-left: 0;
		}