/**
 * Main header
 */


 	.c-main-header {
 		width: 100%;
 		display: table;
 		position: relative;
 		background: $blue--light;
 		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
 		border-bottom: 1px solid rgba(0,0,0,0.1);


 		@include mangui-breakpoint(lap) {
 			@include rempx(padding-left, 10px);
 			@include rempx(padding-right, 10px);
 		}


 		@include mangui-breakpoint(desk) {
 			@include rempx(padding-left, 20px);
 			@include rempx(padding-right, 20px);
 		}


 		@include mangui-breakpoint("max-width: 650px") {
 			@include rempx(padding-bottom, 84px);
 		}


 		.c-main-header__button {
 			display: inline-block;
	 		@include rempx(padding, 20px);


	 		&:hover {
	 			background: $blue--medium;
	 		}
 		}





 		@include mangui-breakpoint("min-width: 651px") {
	 		.c-main-header__cell {
		 			display: table-cell;
		 			vertical-align: top;
	 		}


	 			.c-main-header__cell--left {
	 				@include rempx(width, 222px);
	 			}


	 			.c-main-header__cell--center {
	 				width: 100%;
	 				text-align: center;
	 			}


	 			.c-main-header__cell--right {
	 				@include rempx(width, 64px);
	 			}
	 	}



	 	@include mangui-breakpoint("max-width: 650px") {
	 		.c-main-header__cell--center {
				left: 0;
				right: 0;
	 			position: absolute;
				background-color: $blue--medium;
				box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
 				@include rempx(top, 84px);
 				@include rempx(padding-left, 30px);
 				@include rempx(padding-right, 30px);
 				@include rempx(padding-bottom, 19px);


		 		@include mangui-breakpoint(palm) {
		 			@include rempx(padding-left, 20px);
		 			@include rempx(padding-right, 20px);
		 		}


	 			.c-search__input {
	 				width: 100%;
	 				max-width: 100%;
	 			}


	 			.c-search__submit {
	 				left: auto;
	 				z-index: 2001;
	 				position: absolute;
	 				@include rempx(top, 31px);
	 				@include rempx(right, 50px);
	 				@include mangui-breakpoint(palm) { @include rempx(right, 40px); }
	 			}
	 		}
	 	}





 		/**
 		 * Navigation icon
 		 */
 		

 		.c-main-header__button--logo {
 			color: #FFF;
 			@include rempx(padding-top, 30px);
 			@include rempx(padding-bottom, 30px);
 		}





 		/**
 		 * Search form
 		 */
 		
 		.c-search__input {
			border: 0;
			outline: 0;
			width: 85%;
			color: #FFF;
			border-radius: 3px;
			background: $blue--lighter;
		    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
			@include rempx(max-width, 550px);
			@include rempx(height, 46px);
			@include rempx(padding, 0 20px);
			@include rempx(margin-top, 20px);
			@include mangui-transition(none);
			@include mangui-transition(ease-in-out 350ms all);
			

			@include mangui-placeholder() { 
				color: #FFF;
				@include mangui-transition(ease-in-out 350ms all); 
			}


			+ .c-search__submit { 
				color: #FFF;
				@include mangui-transition(ease-in-out 350ms all); 
			}


			&:hover {
				color: $blue--light;
				background: rgba(255,255,255,0.8);
				@include mangui-placeholder() { color: $blue--light; }
				+ .c-search__submit { color: $blue--light; }
 			}


			&:focus {
				background: #FFF;
				color: $blue--light;
				@include mangui-placeholder() { color: $blue--light; }
				+ .c-search__submit { color: $blue--light; }
			}


 		}


 			.c-search__submit {
 				position: relative;
 				color: $grey--medium;
 				@include rempx(top, 6px);
 				@include rempx(left, -46px);
				@include mangui-transition(none);


 				&:hover {
 					color: $blue--light;
 				}
 			}
 	}