/**
 * Search bar component
 */


.searchwp-live-search-results {
	height: 0;
	opacity: 0;
	z-index: 9999;
	display: none;
	overflow: hidden;
	position: absolute;
	background-color: #FFF;
	border-radius: 0 0 3px 3px;
	border: 1px solid $grey--light;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	@include rempx(margin-top, 15px);
	@include mangui-transition(ease-in-out 500ms all);
	
	border-top: 0;


	&.searchwp-live-search-results-showing {
		opacity: 1;
		height: auto;
		overflow: auto;
		display: block;
	}


	.searchwp-live-search-no-results {
		padding: 1em 0;
		text-align: center;
	}
}





	/**
	 * Pop up search results
	 */
	

	.c-pop-up__list {
		margin: 0;
		@include rempx(padding, 0 0 10px);
	}

		.c-pop-up__result {
			@include rempx(padding-bottom, 1px);
		}

			.c-pop-up__link {
				display: block;
				@include rempx(padding, 10px 20px 12px);


				&:hover {
					background-color: $grey--lighter;
				}
			}

				.c-pop-up__title {
					font-weight: bold;
				}

				.c-pop-up__type {
					float: right;
					text-transform: uppercase;
					color: $green;
					display: inline-block;
					@include rempx(font-size, 12px);
					@include rempx(padding-top, 3px);
				}

				.c-pop-up__url {
					color: $green;
					display: block;
					font-size: 12px;
					@include rempx(font-size, 12px);
				}