/**
 * Social media navigation
 */


.o-nav--footer {
	.o-nav__list {
		@include rempx(margin-left, -20px);
	}
}





/**
 * Copyright text next to the navigation
 */


.c-copyright {
	text-align: right;
	@include rempx(margin, 8px);


	@include mangui-breakpoint(portable) {
		text-align: left;
		@include rempx(margin-top, 25px);
	}
}