/**
 * Main navigation
 */


.c-nav--main {
	opacity: 0;
	z-index: 1000;
	background: #FFF;
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	border: 1px solid $grey--light;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	@include rempx(top, 105px);
	@include rempx(right, 20px);
	@include rempx(width, 400px);
	@include rempx(padding, 24px 24px 12px);
	@include mangui-transition(ease-in-out 350ms all);


	@include mangui-breakpoint(palm) {
		width: 100%;
		right: 0;
	}


	&.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}


	&::before {
		content: '';
		background: #FFF;
		position: absolute;
		border-top: 1px solid $grey--light;
		border-left: 1px solid $grey--light;
		@include rempx(top, -11px);
		@include rempx(right, 21px);
		@include rempx(width, 20px);
		@include rempx(height, 20px);
		@include mangui-transform(rotate(45deg));
	}


	.o-nav__list {

	}


		.o-nav__item {

		}


			.o-nav__link {
				padding: 1em;
				text-align: center;
				border: 1px solid transparent;
				@include rempx(margin-bottom, 12px);
				@include mangui-transition(ease-in-out 350ms all);


				&:hover {
					border-color: shade($grey--lighter, 5%);
				}
			}


				.o-nav__label {
					display: block;
					padding-top: 0.5em;
					color: $grey--medium;
				}
}