/**
 * Home page panel
 */

.page-template-template-home {
	background: $blue--darker;
}


	.o-panel--home {
		min-height: calc(100vh - 86px);
	}


		.c-home__title {
			color: #FFF;
			text-align: center;
			@include rempx(margin-top, -12px);
			@include rempx(padding-bottom, 24px);
		}


		.c-home__content {
			text-align: center;
			color: $blue--lighter;
		}


		.c-home__buttons {
			text-align: center;
			@include rempx(padding-top, 36px);
		}


			.o-button--home {
				color: #FFF;
				font-weight: bold;
				border-radius: 4px;
				@include rempx(padding, 15px 30px);


				&.o-button--neutral {
					background: #FFF;
					color: $blue--medium;
					@include rempx(margin-right, 20px);
					

					@include mangui-breakpoint(palm) {
						margin-right: 0;
						@include rempx(margin-bottom, 12px);
					}


					&:hover {
						color: $blue--medium;
						background: tint($blue--lighter, 40%);
					}
				}


				&.o-button--positive {
					color: #FFF;
					background: $blue--light;


					&:hover {
						color: #FFF;
						background: $blue--medium;
					}
				}


				.o-button__icon--right {
					@include rempx(margin, 3px 0 -5px 10px);
				}
			}