@import "base.normalize",
		"base.grid";





/**
 * Global styling rules
 *
 * [1]	Box sizing
 * [2]	Container
 * [3]	Accessibly hide content
 */





/**
 * [1]	Box sizing
 *
 * 		[a]	Set our base to border-box as it's easier
 * 			to work with on responsive sites
 * 		[b]	Set all elements to `inherit` the rule, allows
 * 			us to work easily with third party widgets
 * 			@see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
	        box-sizing: inherit;
}





/**
 * [2]	Container
 *
 * 		[a]	Set a maximum width to our container
 * 		[b]	Align the container to the horizontal centre of the viewport
 */

.container,
%container {
	@if $mangui-is-responsive--large {
		@include rempx(max-width, $mangui-max-width);
	} @else {
		@include rempx(max-width, 960px);
	}
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include rempx(padding, 0 $mangui-vertical-rhythm);
}





.container--narrow {
	@include rempx(max-width, 600px);
}


.container--text {
	@include rempx(max-width, 698px);
}


.container--left {
	margin-left: 0;
}


.container--right {
	margin-right: 0;
}





/**
 * [3]	Accessibly hide content
 */

.visually-hidden,
%visually-hidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}