/**
 * Import all of our sass files.
 *
 * Order is very important and must follow this pattern:
 *
 * [1]	Settings
 * [2]	Tools
 * [3]	Generic
 * [4]	Base
 * [5]	Objects
 * [6]	Components
 * [7]	Theme
 * [8]	Trumps
 * 
 */





	 /**
	  * [1]	Settings
	  *
	  *   •	Globally available settings and vars
	  *   •	Config switches
	  *   •	Brand colours
	  *
	  * 	$color-ui:		#BADA55;
	  * 	$spacing-unit:	10px;
	  */
	 

	@import "settings/settings.mangui.defaults";
	@import "settings/settings.mangui.setup";

	@import "settings/settings.theme.defaults";
	@import "settings/settings.theme.custom";
	@import "settings/settings.theme.colours";





	 /**
	  * [2]	Tools
	  *
	  *   •	Globally available tools
	  *   •	Public mixins
	  *   •	Helper functions
	  *
	  *   	@mixin font-brand() {
	  *   		font-family: "UI Font", sans-serif;
	  *   		font-weight: 400;
	  * 	}
	  */
	 

	@import "tools/tools.mangui.animations";
	@import "tools/tools.mangui.breakpoints";
	@import "tools/tools.mangui.rempx";
	@import "tools/tools.mangui.transform";
	@import "tools/tools.mangui.transitions";
	@import "tools/tools.mangui.placeholder";

	@import "tools/tools.theme.campton";





	 /**
	  * [3]	Generic
	  *
	  *   •	Ground zero styles
	  *   •	Low-specificity, far-reaching
	  *   •	Resets; normalize.css; etc...
	  *
	  *   	* {
	  *   		-webkit-box-sizing: inherit;
	  *   		   -moz-box-sizing: inherit;
	  *   		        box-sizing: inherit;
	  *   	}
	  */
	 

	@import "generic/generic.mangui.normalize";
	@import "generic/generic.mangui.box-sizing";
	@import "generic/generic.mangui.shared";
	@import "generic/generic.mangui.clearfix";
	@import "generic/generic.mangui.invisible";





	 /**
	  * [4]	Base
	  *
	  *   •	Unclasses HTML elements
	  *   •	h1 - h6; basic links; lists; etc
	  *   •	Last layer we see type selectors [e.g. `blockquote {}` or `a {}`]
	  *
	  *   	ul {
	  *   		list-style: square outside;
	  *   	}
	  */
	 

	@import "base/elements.mangui.page";
	@import "base/elements.mangui.links";
	@import "base/elements.mangui.lists";
	@import "base/elements.mangui.headings";
	@import "base/elements.mangui.images";
	@import "base/elements.mangui.quotes";

	@import "base/elements.theme.page";
	@import "base/elements.theme.headings";





	 /**
	  * [5]	Objects
	  *
	  *   •	OOCSS
	  *   •	Design patterns
	  *   •	No cosmetics
	  *   • Begin using classes, exclusively
	  *   • Agnostically named [e.g. `.o-list {}`]
	  *
	  *   	.ui-list {
	  *   		margin: 0;
	  *   		padding: 0;
	  *   		list-style: none;
	  *   	}
	  *
	  *
	  * 		.ui-list__item {
	  * 			padding: $spacing-unit;
	  * 		}
	  */
	 

	@import "objects/objects.mangui.grid";
	@import "objects/objects.mangui.grid.sizes";
	@import "objects/objects.mangui.buttons";
	@import "objects/objects.mangui.container";
	@import "objects/objects.mangui.panel";
	@import "objects/objects.mangui.navigation";


	@import "objects/objects.theme.form";





	 /**
	  * [6]	Components
	  *
	  *   •	Designed pieces of UI
	  *   •	Still only using classes
	  *   •	More explicitly named [i.e. `.c-products-list {}`]
	  *
	  *   	.c-products {
	  *   		@include brand-font();
	  *   		border-top: 1px solid $colour-ui;
	  *   	}
	  */
	 

	@import "components/components.theme.header";
	@import "components/components.theme.navigation.main";
	@import "components/components.theme.search";

	@import "components/components.theme.nav.footer.social";
	@import "components/components.theme.nav.footer.legal";

	@import "components/components.theme.panel.home";
	@import "components/components.theme.panel.title";
	@import "components/components.theme.panel.availability";
	@import "components/components.theme.panel.footer.hire";
	@import "components/components.theme.panel.footer.contact";
	@import "components/components.theme.panel.portfolio";
	
	@import "components/components.theme.panel.blog";
	@import "components/components.theme.panel.aside";
	@import "components/components.theme.panel.gallery";
	@import "components/components.theme.panel.standard";
	@import "components/components.theme.panel.testimonial";





	 /**
	  * [7]	Themes
	  *
	  *   •	Styles that are specific to this usage
	  *   •	Colour variations
	  *   •	Styling differences
	  *
	  *   	.c-button--primary {
	  *   		color: $color--highlight;
	  *   		font-weight: bold;
	  *   	}
	  */
	 

	@import "theme/theme.base.page";
	@import "theme/theme.base.links";

	@import "theme/theme.component.panel";





	 /**
	  * [8]	Trumps
	  *
	  *   •	Overrides; helpers; utilities
	  *   •	Only affect one piece of the DOM at any time
	  *   •	Usually carry `!important`
	  *
	  *   	.bold {
	  *   		font-weight: bold !important;
	  *   	}
	  */
	 

	 @import "trumps/trumps.components.search";