/**
 * [1]	Header area
 */

.nav--main {
	background: #FFF;
	text-align: right;
	border-bottom: 1px solid $grey--light;


	.nav__list {
		@include rempx(margin-left, -30px);
		@include rempx(margin-right, -30px);
	}


	.nav__item {
		@include mangui-font-campton(22px);
		color: $blue--light;


		&--home { float: left; }
		&--search { @extend %visually-hidden; }
		&--dots { @extend %visually-hidden; }
	}


		.nav__link {
			position: relative;
			@include rempx(padding-left, 30px);
			@include rempx(padding-right, 30px);
			@include rempx(line-height, 82px);


			&::after {
				content: '';
				position: absolute;
				height: 4px;
				background: $blue--light;
				left: 0;
				right: 0;
				top: 0;
				@include mangui-transform(translateY(-4px));
				@include mangui-transition(ease-in-out all 300ms);
			}


			&:hover {
				&::after {
					@include mangui-transform(translateY(0));
				}
			}


			&--logo {
				@include rempx(height, 100px);
				@include rempx(padding-top, 15px);
				@include rempx(padding-bottom, 15px);


				.logo__type { @include mangui-transition(ease-in-out 300ms all); }


				&:hover {
					.logo__type { fill: #FFF; }
				}
			}
		}
}