.home-intro__content,
.home-services__heading,
.home-services__content {
	text-align: center;
}


	.home-services__heading__icon {
		display: block;
		border-radius: 50%;
		text-align: center;
		border: 3px solid #FFF;
		background: $blue--light;
		box-shadow: 0 0 0 4px $blue--light;
		@include rempx(height, 155px);
		@include rempx(width, 155px);
		@include rempx(margin, 0 auto $mangui-vertical-rhythm*1.5);


		&.icon--development {
			@include rempx(padding, 0 20px);
		}

		&.icon--design {
			@include rempx(padding, 35px 0);
		}

		&.icon--consultancy {
			@include rempx(padding, 0 27px);
		}

		
		path {
			fill: #FFF;
		}
	}





.home-services__content {
	@include rempx(padding-left, $mangui-vertical-rhythm);
	@include rempx(padding-right, $mangui-vertical-rhythm);
}





.button--home-services {
	display: block;
	@include rempx(width, 240px);
	@include rempx(margin, $mangui-vertical-rhythm*2 auto $mangui-vertical-rhythm);
}