.panel--portfolio-header {
	position: relative;
	@include rempx(height, 500px);
	background-size: cover;


	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
	}


	&--gardbus 	{ background: url(../../images/_uploaded-to-wordpress/portfolio__header--gardbus.jpg) top center no-repeat; }
	&--silk 	{ background: url(../../images/_uploaded-to-wordpress/portfolio__header--silk.jpg) top center no-repeat; }
	&--jeakins 	{ background: url(../../images/_uploaded-to-wordpress/portfolio__header--jeakins.jpg) top center no-repeat; }
}





	/**
	 * Header content
	 */

	.portfolio-header__title {
		z-index: 3;
		color: #FFF;
		text-align: center;
		text-transform: none;
		@include rempx(font-size, 58px);
		@include rempx(margin, 160px 0 0);


		&::before {
			content: '------ Case study ------';
			display: block;
			font-family: $font-core;
			text-transform: uppercase;
			font-weight: 500;
			@include rempx(margin-bottom, -10px);
			@include rempx(font-size, 14px);
		}
	}





/**
 * Main header overrides
 */

.page-template-template--portfolio-detail--gardbus,
.page-template-template--portfolio-detail--jeakins-coach-travel,
.page-template-template--portfolio-detail--silk {
	.nav--main {
		background: rgba(255,255,255,0.2);
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		border-bottom: 3px solid rgba(255,255,255,0.15);


		.logo__background, .logo__type { fill: #FFF; }
		.logo__border { display: none; }


		.nav__link {
			color: #FFF;


			&::after {
				background-color: #FFF;
			}
		}
	}
}





	/**
	 * Case study logos
	 */
	
	.case-study__logos {
		margin-left: 0;
	}
	
		.case-study__logo {
			text-align: center;
			@include rempx(padding, $mangui-vertical-rhythm*2 $mangui-vertical-rhythm);


			svg {
				max-width: 100%;
			}
		}


		.case-study__logo--dark {
			@each $brand in $link-pod-brands {
				$brand-name: nth($brand, 1);    $colour: nth($brand, 2);
				&.case-study__logo--#{$brand-name} { background-color: $colour; }
			}
		}


		.case-study__logo--light {
			background-color: #FFF;
		}





	/**
	 * Case study testimonial
	 */

	.panel--testimonial {
		position: relative;
		@include rempx(padding-bottom, $mangui-vertical-rhythm*1.5);


		&::before {
			$testimonial-size: 100px;

			content: '\201D';
			text-align: center;
			position: absolute;
			color: #FFF;
			left: 50%;
			background: $blue--light;
			@include mangui-font-campton(135px);
			@include rempx(top, -$testimonial-size/2);
			@include rempx(margin-left, -$testimonial-size/2);
			@include rempx(border-radius, $testimonial-size/2);
			@include rempx(line-height, 135px);
			@include rempx(height, $testimonial-size);
			@include rempx(width, $testimonial-size);
			@include rempx(padding, 13px 0 0 2px);
		}
	}


		.testimonial__content {
			font-weight: 300;
			margin: 1em auto;
			text-align: center;
			@include rempx(font-size, 24px);
			@include rempx(max-width, 650px);
		}


		.testimonial__from {
		    display: block;
		    font-weight: 300;
		    font-style: normal;
		    text-align: center;
		    color: $blue--light;
		    @include rempx(font-size, 24px);
		}





	/**
	 * Content sections
	 */
	
	.panel--case-study-section {
		position: relative;
	}


		.case-study__image-placeholder {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			bottom: 0;
		}






	/**
	 * Mockup images
	 */
	
	.panel--case-study-screens {
	    text-align: center;
	    padding-bottom: 0;
	}


		.case-study-screens__image {
		    position: relative;
			@include rempx(margin-top, -160px);
		}
