.nav--what-i-do .nav__link::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    opacity: 0.4;
    -webkit-transition: ease-in-out transform 500ms, ease-in-out opacity 250ms 0;
}

.nav--what-i-do .nav__link:focus::before {
    background: #eaeaea;
    transform: scale(4);
    opacity: 0;
    -webkit-transition: ease-in-out transform 500ms, ease-in-out opacity 500ms 200ms;
}

.nav--what-i-do .nav__link {
    overflow: hidden;
    border: 0;
    background: #FFF;
    padding: 10px 20px;
}