/**
 * Button object
 *
 * [1]	Core button object
 * [2]	Variants
 */


	 /**
	  * [1]	Core button object
	  */
	 

	 .o-button {
	 	border: 0;
	 	margin: 0;
	 	padding: 0;
	 	outline: 0;
	 	background: none;
	 	display: inline-block;
	 	@include mangui-transition(ease-in-out 350ms color, ease-in-out 350ms background);
	 }


		.o-button__icon--left {
			@include rempx(margin-right, $mangui-vertical-rhythm/2);
		}


		.o-button__icon--right {
			@include rempx(margin-left, $mangui-vertical-rhythm/2);
		}





	 /**
	  * [2]	Variants
	  *
	  * 	[a]	Button that just contains an icon
	  */
	 

		 /**
		  * [a]	Button that just contains an icon
		  */
		 

		.o-button--just-icon {
			.o-icon {
				float: left;
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		
		.o-button--primary {
			color: #FFF;
			overflow: hidden;
			font-weight: bold;
			background: $green;
			border-radius: 5px;
			position: relative;
			-webkit-backface-visibility: hidden;
			box-shadow: inset 0 0 0 3px rgba(0,0,0,.15);
			@include rempx(font-size, 17px);
			@include rempx(padding, 15px 30px);


			&::after {
				top: 0;
				bottom: 0;
				width: 72%;
				right: -25%;
				content: '';
				opacity: 0.1;
				background: #FFF;
				position: absolute;
				@include mangui-transform(skewX(-55deg));
				@include mangui-transition(ease-in-out 350ms all);
			}


			&:hover {
				color: #FFF;
				background: $green--shade;

				.o-button__icon--right {
					@include mangui-transform(translateX(8px));
				}

				&::after {
					@include mangui-transform(skewX(-55deg) translateX(8px));
				}
			}


			&.o-button--call-to-action {
				font-weight: normal;
				box-shadow: inset 0 0 0 4px rgba(0,0,0,.15);
				@include rempx(font-size, 20px);
				@include rempx(padding, 25px 40px);
			}


			.o-button__text {
				display: inline-block;
				float: left;
				@include rempx(line-height, 24px);
				@include rempx(margin-right, 10px);
			}


			.o-button__icon--right {
				float: left;
				display: inline-block;
				-webkit-backface-visibility: hidden;
				@include mangui-transition(ease-in-out 350ms all);
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		

		.o-button--secondary {
			color: $blue--light;


			&:hover {
				color: $blue--darker;
			}


			.o-button__icon--right {
				border: 1px solid;
				border-radius: 20px;
				float: right;
				@include rempx(width, 30px);
				@include rempx(height, 30px);
				@include rempx(padding, 8px);
				@include rempx(margin-top, -3px);
			}
		}