/**
 * Home page panel
 */

.page-template-template-home {
}


	.o-panel--home {
		min-height: calc(100vh - 86px);
	}


		.c-home__title {
			color: $blue--dark;
			text-align: center;
			@include rempx(margin-top, 200px);
			@include rempx(padding-bottom, 24px);
			@include mangui-breakpoint("max-width: 600px") { @include rempx(margin-top, 140px); }
		}


		.c-home__content {
			text-align: center;
			color: $blue--lighter;
		}


		.c-home__buttons {
			text-align: center;
			@include rempx(padding-top, 36px);


			.o-button--primary {
				display: inline-flex;
				box-shadow: inset 0 0 0 3px rgba(0,0,0,.15);
				@include rempx(font-size, 16px);
				@include rempx(padding, 15px 30px);
				@include rempx(margin-right, 20px);
				@include mangui-breakpoint("max-width: 600px") { margin-right: 0; }
			}

			.o-button--secondary {
				@include rempx(margin-left, 15px);
				@include mangui-breakpoint("max-width: 600px") { margin-left: 0; }
			}
		}


		.c-home__buttons-or {
			@include mangui-breakpoint("max-width: 600px") {
				display: block;
				@include rempx(padding, 10px 0);
			}
		}