@mixin mangui-font-campton($font-size, $upper: false) {
	font-weight: 600;
	font-family: $font-campton;
	@include rempx(font-size, $font-size);

	@if ($upper == true) {
		text-transform: uppercase;
	}
}