/**
 * Default transform mixin
 */

@mixin mangui-transform($transition...) {
    -webkit-transform: $transition;
       -moz-transform: $transition;
        -ms-transform: $transition;
         -o-transform: $transition;
            transform: $transition;
}