/**
 * Import our custom font faces
 *
 * [1]	Campton (Semibold is the only weight being used)
 * 			* You can use `@include mangui-font-campton($font-size);`
 * 			  to import the default CSS (family, weight etc)
 */

// [1]
@font-face {
	font-family: 'Campton-Web';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/campton/semibold.woff) format('woff');
}





/**
 * Base styling to be inherited by children
 *
 * [1]	Use the base font, in our case Roboto
 * [2]	Add some line-height to make it more readable
 * 		* Unitless for scalability
 * [3]	Give the type some colour
 */

html {
	font-family: $font-core;
	line-height: 1.7;
	color: $colour--type-default;
}











/**
 * Low specificity typography (i.e. the defaults)
 *
 * [1]	Paragraphs
 * [2]	Top level headings 		<h1>
 * [3]	High ranking headings 	<h2>, <h3>
 * [4]	Lower ranking headings 	<h4>, <h5>, <h6>
 * [5]	List styles				<ul>, <ol>, <dl>
 * [6]	Table styling
 */





 	/**
 	 * [1]	Paragraphs
 	 *
 	 * 		[a]	Give our paragraphs some space
 	 * 			* Using `em` so that spacing is relative to element font-size
 	 * 			* Smaller `margin-top` looks neater but...
 	 * 		[b]	Adjacent `p` need more spacing
 	 */
 	
 	p {
 		margin: 1em 0 2em; // [a]


 		+ p {
 			margin-top: 2em; // [b]
 		}
 	}





 	/**
 	 * [2]	Top level headings (<h1>)
 	 *
 	 * 		[a]	Use mixin to set size and uppercase
 	 * 		[b]	Explicitly set margin so that p.alpha doesn't adopt <p> margin
 	 * 		[c]	Added `line-height` for design purposes, makes font easier to read
 	 */
 	
 	h1,
 	.alpha,
 	%alpha {
 		@include mangui-font-campton(32px, $upper: true); // [a]
 		margin: 1em 0; // [b]
 		line-height: 1.4; // [c]
 	}





	/**
	 * [3]	High ranking headings (<h2>, <h3>)
	 *
	 * 		[a]	Optimum font size for Campton
	 * 		[b]	On brand colour
	 * 		[c]	Resetting all margins, instead of just using margin-top
	 * 			to override user agent styles, and to remain consistent
	 * 		[d]	Added `line-height` for design purposes, makes font easier to read
	 * 		[e]	Override `h1` default style if `h1 class="[beta|gamma]"`
	 */
	
	h2,
	.beta,
	%beta {
		@include mangui-font-campton(27px); // [a]
		color: $blue--light; // [b]
		margin: 0.8em 0 0; // [c]
		line-height: 1.2; // [d]
		text-transform: none; // [e]
	}


	h3,
	.gamma,
	%gamma {
		@include mangui-font-campton(24px); // [a]
		color: $blue--lighter; // [b]
		margin: 1em 0; // [c]
		line-height: 1.4; // [d]
		text-transform: none; // [e]
	}





	/**
	 * [4]	Lower ranking headings (<h4>, <h5>, <h6>)
	 *
	 * 		[a]	Optimum size for Campton, uppercase for design
	 */

	h4,
	.delta,
	%delta {
		@include mangui-font-campton(17px, $upper: true); // [a]
		color: $blue--dark;
	}


	h5,
	.epsilon,
	%epsilon {
		font-weight: 300;
		@include rempx(font-size, 18px);
		color: $blue--medium;
	}


	h6,
	.zeta,
	%zeta {
		font-weight: 600;
		@include rempx(font-size, 14px);
	}





	/**
	 * [5]	List styles
	 */
	
	ul,
	ol {
		margin: 2em 0;
		padding: 0;
		@include rempx(padding-left, $mangui-vertical-rhythm)
	}


	.list--has-bullets {
		li {
			position: relative;
			list-style: none;


			&::before {
				content: '\2022';
				position: absolute;
				@include rempx(left, -$mangui-vertical-rhythm);
			}
		}
	}





	/**
	 * [6]	Table styling
	 */
	
	.table {
		border-top: 1px solid $grey--light;


		&--full {
			width: 100%;
		}


		&--striped {
			tr:nth-child(odd) {
				td {
					background: rgba(0,0,0,0.1);
				}
			}
		}


			th {
				background: #FFF;
				padding: 0.8em 1em;
				text-align: left;
				border-top: 1px solid $grey--light;
			}


			td {
				padding: 0.5em 1em;
				border-top: 1px solid $grey--light;
			}


			.cell--numerical {
				text-align: right;
			}
	}





	/**
	 * [7]	Images
	 */
	
	img {
		max-width: 100%;
	}
	
	.img {
		background: #FFF;
		padding: 4px;
		border: 1px solid $grey--light;


		&--left {
			float: left;
			@include rempx(margin-right, $mangui-vertical-rhythm*2);
			@include rempx(margin-bottom, $mangui-vertical-rhythm*2);
		}


		&--right {
			float: right;
			@include rempx(margin-left, $mangui-vertical-rhythm*2);
			@include rempx(margin-bottom, $mangui-vertical-rhythm*2);
		}
	}











/**
 * Typography helper classes
 *
 * [1]	Use Campton
 * [2]	Capitalise text
 * [3]	Pretty page titles
 */





 	/**
 	 * [1]	Use campton
 	 *
 	 * 		[a]	Set the default font size
 	 * 			* 24px chosen as font is very readable and smooth
 	 */

	.font--campton {
		@include mangui-font-campton(24px); // [a]
	}





	/**
	 * [2]	Capitalise text
	 */

	.font--uppercase {
		text-transform: uppercase;
	}





	/**
	 * [3]	Pretty page titles
	 *
	 * 		[a]	Required for pseudo element positioning
	 * 		[b]	Complements `margin` and provides suitable spacing to pseudo element
	 * 		[c]	Centre the text, design feature
	 * 		[d]	Required for pseudo element to exist
	 * 		[e]	For refined control over the position
	 * 		[f]	Get the psuedo element to attach to the bottom of the title
	 * 		[g]	Align it centre (see also [j])
	 * 		[h]	Add the design element, rgba() for refined design
	 * 		[i]	Create variable out of width so we can change easily, and get SASS to do the maths!
	 * 		[j]	Set our width to our variable
	 * 		[k]	Get half the width and move the element, coincides with [f]
	 */
	
	.title--page {
		position: relative; // [a]
		padding-bottom: .8em; // [b]
 		text-align: center; // [c]


		&::before {
			content: ''; // [d]
			position: absolute; // [e]
			bottom: 0; // [f]
			left: 50%; // [g]
			border-bottom: 6px solid rgba($blue--light, 0.4); // [h]
			
			$page-title-width: 100px; // [i]
			@include rempx(width, $page-title-width); // [j]
			@include rempx(margin-left, -$page-title-width/2); // [k]
		}
	}





	/**
	 * [4]	Links and buttons
	 *
	 * 		[a]	Default links
	 * 		[b]	Primary button styles
	 * 		[c]	Secondary button styles
	 * 		[d]	Tertiary button styles
	 */
	




	/**
	 * [a]	Default links
	 */
	
	a {
		color: $blue--light;
		text-decoration: none;
		@include mangui-transition(ease-in-out 350ms all);


		&:hover {
			color: $blue--medium;
		}


		&:focus {
			color: $blue--medium;
			outline: 1px dotted;
		}
	}





	/**
	 * [b]	Primary button styles
	 */
	
	.button--primary,
	%button--primary {
		display: inline-block;
		background: $green;
		border: 2px solid $grey--dark;
		box-shadow: 0 0 0 3px $green;
		color: #FFF;
		text-decoration: none;
		border-radius: 5px;
		@include rempx(padding, round($mangui-vertical-rhythm*0.666) round($mangui-vertical-rhythm*1.25));
		@include mangui-font-campton(24px);
		@include mangui-transition(ease-in-out background 350ms);


		&:hover {
			background: shade($green, 20%);
			color: #FFF;
		}
	}


		.button__icon--left {
			@include rempx(margin-right, $mangui-vertical-rhythm/2);
		}


		.button__icon--right {
			@include rempx(margin-left, $mangui-vertical-rhythm/2);
		}





	/**
	 * [c]	Secondary button styles
	 */
	
	.button--secondary,
	%button--secondary {
		color: $blue--dark;
		display: inline-block;


		&:hover {
			color: $blue--light;
		}


		.button__icon--right {
			border: 1px solid currentColor;
			border-radius: 20px;
			float: right;
			@include rempx(margin-top, -1px);
			@include rempx(height, 30px);
			@include rempx(width, 30px);
			@include rempx(padding, 8px);
		}
	}





	/**
	 * [d]	Tertiary button styles
	 */
	
	.button--tertiary,
	%button--tertiary {
		position: relative;


		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-top: 1px solid currentColor;
		}
	}





	/**
	 * [5]	Lead paragraph
	 */
	
	.lead,
	.lede {
		font-weight: 300;
		line-height: 1.6;
		margin-bottom: 1em;
		@include rempx(font-size, 20px);
	}





	/**
	 * [6]	Text align centre
	 */
	
	.type--centre {
		text-align: center;
	}